@import 'tailwindcss';
@import url(https://fonts.googleapis.com/css2?family=Gidole&display=swap);

@theme {
  --font-gidole: 'Gidole', sans-serif;
}

.answer__button {
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  color: indigo;
  font-weight: bold;
  font-size: 18px;
}
